/* Estilos para el formato */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

button {
  padding: 8px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#resumen {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* Estilos para el resumen */
.item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


